<h1><%= @employee.first_name %></h1>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.img_url %></p>
<p>Dog: <%= link_to @employee.dog.name, @employee.dog %></p>
<ul>
