<h1>Employee Deets</h1>

<p>First Name: <%= @employee.first_name %></p>
<p>Last Name: <%= @employee.last_name%></p>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office%></p>
<p>Img_url: <%= image_tag(@employee.img_url, size: "100x100")%></p>
<p>Dog Name: <%= @employee.dog.name %></p>
 