<h1><%= @employee.to_s %></h1>
<div
  <% image_tag(@employee.img_url, :class => "img_preview") %>
</div>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog: <%= link_to @employee.dog.name, @employee.dog %></p>
<p><%= link_to "Edit", edit_employee_path %></p>
