<h1><%= @emp.full_name %></h1>

<p>Dog: <%= link_to @emp.dog.name, @emp.dog %></p>
<p>Alias: <%= @emp.alias%></p>
<p>Title: <%= @emp.title%></p>
<p>Office: <%= @emp.office%></p>
<p><%= image_tag(@emp.img_url)%></p>